body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header {
    background: black;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #333;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
